<!-- CODE BLOCK DEFINITION - backendcommunicator.html - START -->
<uibuilder-page on-after-load="backendCommunicatorBean::registerMethod">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Backend communicator</h2>
        <div class="description">
            <h5>This is the <code>uibuilder-backend-communicator</code> component demo</h5><br/>
            The <code>uibuilder-backend-communicator</code> component can be used to register methods on the backend (in controller beans) that will
            become callable methods on the frontend side (in plain javascript).<br/>
            The methods registered on the backend component can accept a single argument, and may have return value. Both must be serializable with
            Gson.<br/>
            This component can be useful if you'd like to notify the backend of special events that require custom javascript event handling, or if
            you'd like to fetch some data from the java side in a custom javascript code.<br/><br/>

            The following example shows a simple use-case where the registered method is called from on the frontend by passing a javascript object
            as an argument, and the method call returns a <code>Promise</code> which will be resolved, when the backend method returns with the
            return value.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - backendcommunicator.html - START -->
            <uibuilder-backend-communicator id="communicator"></uibuilder-backend-communicator>
            <button id="clickMeDiv">Click me to divide on the backend</button>
            <button id="clickMeMult">Click me to multiply on the backend</button>

            <h3>The result is: <span id="result"></span></h3>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>backendcommunicator.html</vaadin-tab>
            <vaadin-tab>BackendCommunicatorControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/backendcommunicator.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java"
                                      href="static/code-blocks/BackendCommunicatorControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>

    <!-- CODE BLOCK DEFINITION - backendcommunicator.html - START -->
    <script>
        customElements.whenDefined('uibuilder-backend-communicator').then(() => {
            document.getElementById("clickMeDiv").onclick = e => {
                document.getElementById("communicator").myCallableMethod({
                    name: "div",
                    value: Math.floor(Math.random() * 100)
                }).then(result => {
                    document.getElementById('result').textContent = result.value + " = " + result.valueDouble;
                });
            }

            document.getElementById("clickMeMult").onclick = e => {
                document.getElementById("communicator").myCallableMethod({
                    name: "times",
                    value: Math.floor(Math.random() * 10)
                }).then(result => {
                    document.getElementById('result').textContent = result.value + " = " + result.valueDouble;
                });
            }
        });
    </script>
    <!-- CODE BLOCK DEFINITION END -->

    <!-- CODE BLOCK DEFINITION - backendcommunicator.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
