<!-- CODE BLOCK DEFINITION - column_filtered_collection_grid.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder-grid with collection-based repository and default filtering by each column</h2>
        <div class="description">
            The <code>item-data-source</code> under the grid defines that the default filter type is a <b>case-insensitive like</b> operation with
            the <b>contains</b> mode, and the <code>deadline</code> property's default filter operator is <b>greater or equal</b>.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - column_filtered_collection_grid.html - START -->
            <vaadin-button on-click="collectionSimpleGridBean::addElements">Add some elements</vaadin-button>
            <!-- CODE BLOCK DEFINITION END -->
            <hr/>
            <!-- CODE BLOCK DEFINITION - column_filtered_collection_grid.html - START -->
            <vaadin-uibuilder-grid id="collection-based-grid" multi-sort>
                <item-data-source datasource-id="collection-ds" name="collectionFilteredDs">
                    <default-filter-option filter="ilike" mode="contains"></default-filter-option>
                    <filter-option path="deadline" filter=">="></filter-option>
                </item-data-source>
                <vaadin-uibuilder-grid-filter-column path="todo">
                    <template>{{item.todo}}</template>
                </vaadin-uibuilder-grid-filter-column>
                <vaadin-grid-column>
                    <template class="header">
                        <vaadin-grid-filter path="deadline" value="[[_deadLine]]">
                            <vaadin-date-picker theme="small" label="Deadline" value="{{_deadLine}}" focus-target></vaadin-date-picker>
                        </vaadin-grid-filter>
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>column_filtered_collection_grid.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>CollectionSimpleGridBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/column_filtered_collection_grid.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CollectionSimpleGridBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - filtered_collection_grid.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
