<!-- CODE BLOCK DEFINITION - filter_settings.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Common filter with filter settings managed on backend</h2>
        <div class="description">
            The <code>uibuilder-common-filter</code> component manages the currently set filter states in the backend component,
            you can access this state with the <code>getFilterDescriptors()</code> method, and can set any filter descriptor settings
            dynamically with the <code>applyFilterDescriptors(List&lt;FilterDescriptor&gt; filterDescriptors)</code> method.
            <br><br>
            In this example you can set two different predefined filter settings on the filter component, with the "Set deadline filter"
            and "Set text filter" buttons.
            <br><br>
            You may also set any arbitrary filter settings which you can "save" on the backend with the "Save current filter settings",
            and you can load the previously saved filter settings with the "Load filter settings" button.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - filter_settings.html - START -->
            <vaadin-button on-click="collectionSimpleGridBean::addElements">Add some elements</vaadin-button>
            <vaadin-button on-click="filterSettingsController::setDeadlineFilter">Set deadline filter</vaadin-button>
            <vaadin-button on-click="filterSettingsController::setTextFilter">Set text filter</vaadin-button>
            <vaadin-button on-click="filterSettingsController::saveCurrentFilterSettings">Save current filter settings</vaadin-button>
            <vaadin-button on-click="filterSettingsController::loadFilterSettings">Load filter settings</vaadin-button>

            <uibuilder-common-filter id="commonFilter" auto-search>
                <data-source datasource-id="collection-ds" name="collectionFilteredDs"></data-source>
                <filter-types>
                    <filter-type label="Text" filter="todo" operators='["ilike", "like", "=", "in"]'></filter-type>
                    <filter-type label="Deadline" filter="deadline"></filter-type>
                </filter-types>
            </uibuilder-common-filter>

            <vaadin-uibuilder-grid id="collection-based-grid" multi-sort>
                <item-data-source datasource-id="collection-ds" name="collectionFilteredDs"></item-data-source>
                <vaadin-grid-column>
                    <template class="header">
                        Todo
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>filter_settings.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>CollectionSimpleGridBean.java</vaadin-tab>
            <vaadin-tab>FilterSettingsController.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/filter_settings.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CollectionSimpleGridBean.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FilterSettingsController.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - filter_settings.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->

