<!-- CODE BLOCK DEFINITION - item_binding_collection_grid.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder-grid with collection-based repository and item binding</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - item_binding_collection_grid.html - START -->
            <vaadin-uibuilder-grid id="collection-based-grid">
                <item-data-source name="collectionItemBindingDs"
                                  items="{{collectionItemBindingBean.todoItems}}">
                </item-data-source>

                <vaadin-grid-column>
                    <template class="header">
                        Task
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>item_binding_collection_grid.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>CollectionItemBindingBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/item_binding_collection_grid.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CollectionItemBindingBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - item_binding_collection_grid.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
