<other-tag>

    <!-- Crud panel test html with:

            * datasource
            * nested panels
            * crud-toolbar (the only fixed component)
            * master and detail
            * dialog
            * defined contoller-bean
            * additional event handlers
            * overridden event handlers

     -->

</other-tag>

<outer-tag>

    <crud-panel id="cpid" controller-bean="testContBean"
                on-item-selected="anotherBean::itemSelected"
                sync-details-form-controls
                master-connector-selector="some-selector"
                on-save="anotherBean::saveOverridden">

        <crud-toolbar></crud-toolbar>
        <crud-panel-separator></crud-panel-separator>

        <some-filter></some-filter>
        <some-grid></some-grid>
        <some-detail>
            <inner-textfield one></inner-textfield>
            <inner-textfield three></inner-textfield>

            <crud-panel id="inner-cpid">
                <crud-toolbar></crud-toolbar>

                <inner-filter></inner-filter>
                <inner-grid></inner-grid>
                <detail-panel>
                    <inner-textfield three></inner-textfield>
                    <inner-textfield four></inner-textfield>
                </detail-panel>

            </crud-panel>
        </some-detail>

        <some-detail>
            <inner-textfield five></inner-textfield>
        </some-detail>

        <data-source name="someDs"></data-source>
        <some-dialog label="inner dialog label">Inner dialog content</some-dialog>

    </crud-panel>

</outer-tag>
