<page>

    <vaadin-combo-box id="cb"></vaadin-combo-box>
    <grid id="grid"></grid>

    <detail-panel id="dp"></detail-panel>
    <detail-panel id="dp2"></detail-panel>
    <detail-panel id="dp3"></detail-panel>

    <master-detail-controller id="mdc" master="grid" detail="dp" on-create="bean::create">
    </master-detail-controller>

    <master-detail-controller id="mdc-value" master="cb" detail="dp">
    </master-detail-controller>

    <master-detail-controller id="mdc-with-selector" master="cb" detail="dp" master-connector-selector="some-selector">
    </master-detail-controller>

    <master-detail-controller id="mdc-with-d-prop" master="grid" detail="dp" detail-property="customValue">
    </master-detail-controller>

    <master-detail-controller id="mdc-with-d-prop-multi-detail" master="grid" detail="dp, another-dp:other" detail-property="customValue">
    </master-detail-controller>

    <master-detail-controller id="mdc-with-multi-detail-with-property" master="grid" detail="dp:formItem, another-dp:anotherItem, default">
    </master-detail-controller>

    <master-detail-controller id="mdc-with-multi-detail" master="grid" detail="dp, dp2,dp3 ">
    </master-detail-controller>

</page>
