<!-- CODE BLOCK DEFINITION - create_new_order.html - START -->
<uibuilder-page>
    <style include="example-page-style"></style>
    <div class="content">
        <h2 part="header">List orders</h2>
        <vaadin-text-field label="Name"></vaadin-text-field>
        <vaadin-button>Order</vaadin-button>
    </div>
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
