<uibuilder-page on-after-load="calendarControllerBean::init">
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Calendar</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - calendar.html - START -->
            <div style="display: flex; height: calc(100vh - 350px)">
                <div style="padding-right: 1em;">
                    <vaadin-checkbox id="green" on-change="calendarControllerBean::filterChanged"
                                     style="display: block;">
                        Green
                    </vaadin-checkbox>
                    <vaadin-checkbox id="blue" on-change="calendarControllerBean::filterChanged"
                                     style="display: block;">
                        Blue
                    </vaadin-checkbox>
                </div>

                <uibuilder-calendar id="calendar"
                                    style="height: 100%; flex: 1"
                                    selectable select-mirror
                                    all-day-slot slot-event-overlap now-indicator
                                    business-hours='{"daysOfWeek": [1, 2, 3, 4, 5], "startTime": "09:00", "endTime": "17:00"}'
                                    on-time-slot-select="calendarControllerBean::onTimeSlotSelect"
                                    on-entry-click="calendarControllerBean::onEntryClick"
                                    on-entry-resize="calendarControllerBean::onResize"
                                    on-entry-drop="calendarControllerBean::onDrop"
                                    on-entry-render="onCalendarEntryRender"></uibuilder-calendar>
            </div>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>calendar.html</vaadin-tab>
            <vaadin-tab>CalendarControllerBean.java</vaadin-tab>
            <vaadin-tab>CalendarEntryRepository.java</vaadin-tab>
            <vaadin-tab>EntryWithDescription.java</vaadin-tab>
            <vaadin-tab>EntryWithDescriptionBuilder.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/calendar.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java"
                                      href="static/code-blocks/CalendarControllerBean.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java"
                                      href="static/code-blocks/CalendarEntryRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java"
                                      href="static/code-blocks/EntryWithDescription.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java"
                                      href="static/code-blocks/EntryWithDescriptionBuilder.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>

    <!-- CODE BLOCK DEFINITION - calendar.html - START -->
    <script>
        document.querySelector('uibuilder-dom-bind').onCalendarEntryRender = (event, {el, event: entry, isMirror, view}) => {
            if (!isMirror) {
                const {description} = entry.extendedProps;
                if (description) {
                    el.title = `${description} [view: ${view.type}]`;

                    const descriptionElement = document.createElement('small');
                    descriptionElement.style.opacity = '0.6';
                    descriptionElement.innerText = description;
                    el.appendChild(descriptionElement);
                }
            }
        }
    </script>
    <!-- CODE BLOCK DEFINITION END -->
</uibuilder-page>
