<uibuilder-page>
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Menu with flow navigation</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - menu_with_flow_navigation.html - START -->
            <menu-bar>
                <menu-item id="listOrders" name="List orders" on-activate="flow:flowNavigationExampleListOrders"></menu-item>
                <menu-item id="createNewOrder" name="Create new Order" on-activate="flow:flowNavigationExampleCreateNewOrder"></menu-item>
                <menu-item id="dynamic" name="Dynamic" on-activate="dynamicPageCb::menuSelected"></menu-item>
            </menu-bar>
            <div style="border: 1px solid blue">
                <uibuilder-page id="flowNavigationExampleTarget" href="/webapp/menu/flow_navigation/default.html"></uibuilder-page>
            </div>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>menu_with_flow_navigation.html</vaadin-tab>
            <vaadin-tab>flow-menu-definition.xml</vaadin-tab>
            <vaadin-tab>list_orders.html</vaadin-tab>
            <vaadin-tab>default.html</vaadin-tab>
            <vaadin-tab>create_new_order.html</vaadin-tab>
            <vaadin-tab>DynamicPageControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/menu_with_flow_navigation.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="xml" href="static/code-blocks/flow-menu-definition.xml">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/list_orders.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/menu_with_flow_navigation_default.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/create_new_order.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/DynamicPageControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
</uibuilder-page>
