<!-- CODE BLOCK DEFINITION - window_in_window.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Window in window</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - window_in_window.html - START -->
            <vaadin-button id="window_open" theme="primary">Open window</vaadin-button>
            <uibuilder-window id="example_window_001" header-text="Outer window"
                              style="width: 530px;text-align: left;" resize="none" closeable>
                <p>This is the body of the Window-Component</p>
                <vaadin-button theme="primary" on-click="openInnerWindow">Open more</vaadin-button>
            </uibuilder-window>
            <uibuilder-window id="example_window_002" header-text="Inner window"
                              style="width: 530px;text-align: left;" resize="none" closeable>
                <p>This is the body of the Window-Component</p>
            </uibuilder-window>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{selectedPageIdx}}">
            <vaadin-tab>window_in_window.html</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[selectedPageIdx]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/window_in_window.html">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - window_in_window.html - START -->
    <script>
        (() => {
            // This workaround is currently necessary only for Safari, and will be fixed in future versions
            const domBind = document.querySelector('uibuilder-dom-bind');
            domBind.addEventListener('innerHTMLSet', () => {
                document.querySelector('#window_open')
                    .addEventListener('click', () => document.querySelector('#example_window_001').opened = true);
            });
            domBind.openInnerWindow = () => document.querySelector('#example_window_002').opened = true;
        })();
    </script>

</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
