<!-- CODE BLOCK DEFINITION - combobox_backend_listeners.html - START -->
<uibuilder-page contextId="combobox-backend-listener" on-after-load="comboboxBackendListenerController::afterLoad">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Combobox with backend change-listeners</h2>
        <div class="description">
            Demonstration of the combobox using in the backend controller beans.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - combobox_backend_listeners.html - START -->
            <vaadin-button on-click="comboboxBackendListenerController::setValueToFirst" theme="primary">
                Set value to 1st element
            </vaadin-button>

            <vaadin-button on-click="comboboxBackendListenerController::showSelectedValue" theme="primary">
                Show selected value
            </vaadin-button>

            <vaadin-button on-click="comboboxBackendListenerController::toggleReadOnly" theme="primary">
                Toggle ReadOnly attribute
            </vaadin-button>

            <uibuilder-combobox id="uibuilder-combobox" item-label-path="todo" style="width: 300px;">
                <data-source name="todoDS"></data-source>
                <template>
                    {{item.todo}} by {{item.deadline}}
                </template>
            </uibuilder-combobox>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>combobox_backend_listeners.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ComboBoxListenerControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/combobox_backend_listeners.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ComboBoxListenerControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - combobox_backend_listeners.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
