<!-- CODE BLOCK DEFINITION - simple_db_combobox.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Combobox with spring-data repository</h2>
        <div class="description">
            Using a datasource for the combobox is just like same with the grid, add the <code>&lt;data-source&gt;</code>
            tag with the needed attributes.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_db_combobox.html - START -->
            <uibuilder-combobox item-label-path="todo" style="width: 300px;">
                <data-source name="todoDS"></data-source>
                <template>
                    {{item.todo}} by {{item.deadline}}
                </template>
            </uibuilder-combobox>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_db_combobox.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_db_combobox.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_db_combobox.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
