<!-- CODE BLOCK DEFINITION - combobox_custom_value.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <!-- CODE BLOCK DEFINITION - combobox_custom_value.html - START -->
    <style>
        #combobox::part(toggle-button) {
            display: none;
        }
    </style>
    <!-- CODE BLOCK DEFINITION END -->
    <style>
        #combobox {
            min-width: 240px;
            width: 40%;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Combobox with custom value and disabled auto-open</h2>
        <div class="description">
            <ul>
                <li>The combobox's dropdown button can be hidden with css</li>
                <li>The dropdown's visibility is controller by the backend depending on the custom value</li>
            </ul>
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - combobox_custom_value.html - START -->
            <uibuilder-combobox id="combobox" label="Custom value combobox"
                                helper-text='Type "default" or "show" to automatically open the dropdown'
                                auto-open-disabled allow-custom-value
                                on-custom-value-changed="customValueCb::customValueChanged">
                <item-data-source name="customDS" items="{{customValueCb.items}}"></item-data-source>
                <template>{{item}}</template>
            </uibuilder-combobox>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>combobox_custom_value.html</vaadin-tab>
            <vaadin-tab>CustomValueComboboxControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/combobox_custom_value.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CustomValueComboboxControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - combobox_custom_value.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
