<!-- CODE BLOCK DEFINITION - crud_panel_horiz.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        #cp detail-panel vaadin-text-field {
            width: 100%;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder simple CRUD panel (orientation: horizontal)</h2>
        <div class="description">
            <ul>
                <li>The example demonstrates that using <code>crud-panel</code> you can eliminate the need for defining the MDC related
                    component ID's (<i>also for the <code>crud-toolbar</code></i>)
                </li>
                <li>The <code>crud-panel</code> generates the MDC with automatically linked components
                </li>
                <li>The controller bean to use can be defined with the <code>controller-bean</code> attribute by providing only the name
                    of the controller bean (in this case, the controller bean has to implement the <code>CrudControllerBean</code> interface)
                </li>
                <li>Without defining the <code>controller-bean</code> the <code>crud-panel</code> will use the <code>data-source</code> tag's name
                    to find the related repository and item type and configure a generic controller bean for the crud operations
                </li>
            </ul>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - crud_panel_horiz.html - START -->
            <crud-panel id="cp">

                <data-source name="todoDS"></data-source>

                <crud-toolbar></crud-toolbar>

                <uibuilder-common-filter>
                    <filter-types>
                        <filter-type label="Todo item" filter="todo"></filter-type>
                        <filter-type label="Deadline" filter="deadline"></filter-type>
                    </filter-types>
                </uibuilder-common-filter>

                <vaadin-uibuilder-grid>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel legend="Todo item details">
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>
                </detail-panel>

            </crud-panel>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>crud_panel_horiz.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/crud_panel_horiz.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - crud_panel_horiz.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
