<!-- CODE BLOCK DEFINITION - crud_panel_changed_only_validation.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        #cp detail-panel vaadin-text-field {
            width: 100%;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder CRUD panel with changed-only-validation</h2>
        <div class="description">
            <ul>
                <li>In this example, the detail-panel has an attribute changed-only-validation which ignores the initial invalid field values</li>
                <li>The <code>Reminder text</code> cannot be null/empty</li>
                <li>The <code>Priority</code> must be between 0 and 100</li>
                <li>When a new item is created, the text will be empty and the priority will be 110. Both values are invalid, but the form will
                    only validate the fields when they had been changed, or the user tried to save the form. If there are fields with invalid values,
                    but they were never changed, they will turn into an invalid state and display the appropriate error message, preventing the form
                    to be saved.
                </li>
            </ul>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - crud_panel_changed_only_validation.html - START -->
            <vaadin-checkbox id="covCb" checked on-click="crudPanelChangedOnlyValidationControllerBean::changedOnlyValidationClicked">
                Changed only validation
            </vaadin-checkbox>

            <crud-panel id="cp" controller-bean="crudPanelChangedOnlyValidationControllerBean">

                <data-source name="remItemDS"></data-source>
                <crud-toolbar></crud-toolbar>
                <vaadin-uibuilder-grid>
                    <vaadin-grid-column>
                        <template class="header">Text</template>
                        <template>{{item.text}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel changed-only-validation>
                    <vaadin-text-field label="Reminder text" item-bind="text"></vaadin-text-field>
                    <vaadin-date-picker label="Alert on day" item-bind="alertOnDay"></vaadin-date-picker>
                    <vaadin-text-field label="Priority" item-bind="priority" required></vaadin-text-field>
                </detail-panel>

            </crud-panel>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_crud_panel.html</vaadin-tab>
            <vaadin-tab>CrudPanelChangedOnlyValidationControllerBean.java</vaadin-tab>
            <vaadin-tab>ReminderItem.java</vaadin-tab>
            <vaadin-tab>ReminderItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/crud_panel_changed_only_validation.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CrudPanelChangedOnlyValidationControllerBean.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItemRepository.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - crud_panel_changed_only_validation.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
