<uibuilder-page>
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder simple CRUD panel</h2>
        <div class="description">
            The example demonstrates that using <code>crud-panel</code> you can eliminate the need for defining the MDC related
            component ID's (<i>also for the <code>crud-toolbar</code></i>).<br/>
            The <code>crud-panel</code> generates the MDC with automatically linked components.
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - crud_panel_with_separator.html - START -->
            <vaadin-number-field label="Master percent" value="40" min="0" max="100"
                                 on-change="updateCrudPanelMasterPercent"
                                 on-input="updateCrudPanelMasterPercent"
                                 has-controls></vaadin-number-field>
            <vaadin-combo-box on-change="updateCrudPanelOrientation" label="Orientation" items='["horizontal", "vertical"]' value="horizontal"></vaadin-combo-box>
            <vaadin-checkbox on-change="updateCrudPanelSeparator" checked>Has separator</vaadin-checkbox>
            <!-- CODE BLOCK DEFINITION END -->
            <hr/>
            <!-- CODE BLOCK DEFINITION - crud_panel_with_separator.html - START -->
            <crud-panel id="cp" controller-bean="mdcSimpleCrudBean" orientation="horizontal" show-border has-separator>

                <data-source name="todoDS"></data-source>
                <crud-toolbar></crud-toolbar>

                <uibuilder-common-filter>
                    <filter-types>
                        <filter-type label="Todo item" filter="todo"></filter-type>
                        <filter-type label="Deadline" filter="deadline"></filter-type>
                    </filter-types>
                </uibuilder-common-filter>

                <vaadin-uibuilder-grid>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel legend="Todo item details">
                    <vaadin-form-layout>
                        <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                        <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>
                    </vaadin-form-layout>
                </detail-panel>

            </crud-panel>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>crud_panel_with_separator.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcSimpleCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/crud_panel_with_separator.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcSimpleCrudControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>

    <!-- CODE BLOCK DEFINITION - crud_panel_with_separator.html - START -->
    <script>
        Object.assign(document.querySelector('uibuilder-dom-bind'), {
            updateCrudPanelMasterPercent(event) {
                document.querySelector('crud-panel').setAttribute('master-percent', event.target.value);
            },

            updateCrudPanelSeparator(event) {
                const crudPanel = document.querySelector('crud-panel');
                if (event.target.checked)
                    crudPanel.setAttribute('has-separator', '');
                else
                    crudPanel.removeAttribute('has-separator');
            },

            updateCrudPanelOrientation(event) {
                document.querySelector('crud-panel').setAttribute('orientation', event.target.value);
            }
        });
    </script>
    <!-- CODE BLOCK DEFINITION END -->
</uibuilder-page>
