<!-- CODE BLOCK DEFINITION - after_load_event_handling.html - START -->
<uibuilder-page on-after-load="afterLoadEventHandler::afterLoad">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <div class="content">
        <h2 part="header">After-load event handling</h2>
        <div class="description">
            &bullet; It runs after the content rendering.<br/>
            &bullet; This does not mean that, the client has already received the content.<br/>
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>after_load_event_handling.html</vaadin-tab>
            <vaadin-tab>AfterLoadEventHandlerControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/after_load_event_handling.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/AfterLoadEventHandlerControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - after_load_event_handling.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
