<!-- CODE BLOCK DEFINITION - simple_event_handling.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->

    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Event handler with @UIComponent</h2>
        <div class="description">
            In case of the event handler method, You can use <span class="code">@CallOnNonNull</span> annotation to avoid NullPointerException.
            In this case, popUp is only called when notification isn't null.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_event_handling.html - START -->
            <vaadin-button id="popUp1" on-click="eventHandler::doNotPopUp">Click me (no popup, notification web-component is null)</vaadin-button><br/>
            <vaadin-button id="popUp2" on-click="eventHandler::popUp">Click me (popup, there is a valid notification web-component used in event handler method)</vaadin-button>
            <vaadin-notification id="notification2"></vaadin-notification>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_event_handling.html</vaadin-tab>
            <vaadin-tab>EventHandlerControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_event_handling.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/EventHandlerControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_event_handling.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
