<!-- CODE BLOCK DEFINITION - unload_event_handling.html - START -->
<uibuilder-page on-unload="unloadEventHandler::unload">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <div class="content">
        <h2 part="header">Unload event handling</h2>
        <div class="description">
            &bullet; It runs before the unload of the content. <br/>
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>unload_event_handling.html</vaadin-tab>
            <vaadin-tab>UnloadEventHandlerControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/unload_event_handling.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/UnloadEventHandlerControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - unload_event_handling.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
