<uibuilder-page on-after-load="exampleSearch::afterPageLoaded">
    <style>
        .welcome-container {
            background-color: #FFFFFF;
            background: linear-gradient(180deg, var(--uibuilder-lumo-menu-bg-color) 0%, #FFFFFF 50%, #FFFFFF 100%);
            margin: 0;
            padding: 0;
        }

        .welcome-container .content .header2 {
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 2em;
            border-bottom: 1px solid #F0F0F0;
            text-align: center;
        }

        .welcome-container .content {
            margin-left: auto;
            margin-right: auto;
            padding-top: 64px;
            max-width: 500px;
            background: inherit;
        }

        .welcome-container .content p {
            text-align: justify;
        }

        #exampleSearchTextField {
            margin-bottom: 24px;
        }

        #exampleSearchResults {
            position: fixed;
            max-height: 500px;
            border: 1px solid #F0F0F0;
            border-radius: 5px;
            overflow: scroll;
            background: white;
            padding: 8px;
            width: 482px;
            transform: translateY(-24px);
        }

    </style>

    <div class="welcome-container">

        <div class="content">
            <span class="header2">Welcome to DevBench UIBuilder Example App<br/>(3.0.5-SNAPSHOT)</span>

            <vaadin-text-field id="exampleSearchTextField" placeholder="Search for an example page or a keyword" style="width: 100%">
                <vaadin-icon icon="vaadin:search" slot="prefix"></vaadin-icon>
            </vaadin-text-field>

            <div id="exampleSearchResults" hidden>
                These are the results
            </div>

            <p>
                The Example App is a collection of the main functionality of the UIBuilder framework.
                Each example is trying to be as simple as possible to demonstrate the given feature.
                The required source files needed to reproduce is listed under the examples, separated
                by files using tabs.
            </p>
            <p>
                The security example is demonstrated by the login menubar item on the top right. After the login,
                the menu changes to the user name which were used to log in, and has a openable submenu. That submenu
                can be used to log out and show the documentation for the example.
            </p>
        </div>

    </div>

</uibuilder-page>
