<!-- CODE BLOCK DEFINITION - multivalue_form.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <title>UIBuilder examples - multi-value component</title>

    <div class="content">
        <h2 part="header">UIBuilder multi-value component</h2>
        <div class="description">
            <h5>This is the <code>uibuilder-multi-value</code> component demo</h5><br/>
            The <code>uibuilder-multi-value</code> component can be used to handle a collection of items. These items can be primitives, or beans with
            multiple bindings.<br/>
            The <code>uibuilder-multi-value</code> can be used as a standalone component, or in a <code>uibuilder-form</code> (<i>also
            <code>master-detail-controller</code> and <code>crud-panel</code></i>).<br><br/>

            &bullet; <code>Get values on backend</code> button will retrieve the value collection which will contain the primitive values specified
            by the <code>value-item-path</code>, and the item collection mapped by the bindings<br/>
            &bullet; <code>Set values on backend</code> button will get the size of the current items handled by the component and set random values in
            the <code>priority</code> field.
            &bullet; <code>Set items on backend</code> button will set a new list of beans in the component.
            <hr/>
            &bullet; with the <code>item-suppler</code> attribute a supplier in a controller bean can be specified to create the new item instances.
            If there is no item-supplier, the <code>uibuilder-multi-value</code> will instantiate an empty bean with the specified item type.<br/>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - multivalue_form.html - START -->
            <vaadin-button on-click="multiValueFormCb::getValuesOnBackend">Get values on backend</vaadin-button>
            <vaadin-button on-click="multiValueFormCb::setValuesOnBackend">Set values on backend</vaadin-button>
            <vaadin-button on-click="multiValueFormCb::setItemsOnBackend">Set items on backend</vaadin-button>
            <hr/>
            <div>Multi value: <span>[[multi_values_string]]</span></div>

            <uibuilder-multi-value id="testMultiValue" as="element" min-no-values="2" max-no-values="5"
                                   item-supplier="{{multiValueFormCb.multiItemSupplier}}"
                                   value-item-path="priority" value-string="{{multi_values_string}}">
                <template>
                    <vaadin-text-field value="{{element.name}}"></vaadin-text-field>
                    <vaadin-text-field value="{{element.priority}}"></vaadin-text-field>
                    <vaadin-date-time-picker step="0.001" value="{{element.expire}}"></vaadin-date-time-picker>
                </template>
            </uibuilder-multi-value>

            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>multivalue_form.html</vaadin-tab>
            <vaadin-tab>MultiItem.java</vaadin-tab>
            <vaadin-tab>MultiValueFormControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/multivalue_form.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MultiItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MultiValueFormControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - multivalue_form.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
