<!-- CODE BLOCK DEFINITION - simple_form_validation_group.html - START -->
<uibuilder-page on-after-load="formValidationGroupController::afterLoad">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        #form {
            max-width: 500px;
        }

        #form > vaadin-horizontal-layout {
            justify-content: end;
            gap: 1em;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Form with validation group</h2>
        <div class="description">
            <ul>
                <li>The validation groups can be specified for a form with the <code>setValidationGroup()</code> method.<br/>
                    The method's second parameter is a boolean which specified whether the given validation group would affect the form's validity or not.
                </li>
                <li>
                    When specifying multiple validation groups, the <code>Default.class</code> has to be also specified to be used, otherwise it would be
                    ignored.
                </li>
                <li>In this example, the ZIP field will prevent saving the form if it is not specified.<br/>
                    The field will also show an error message, if the
                    value is less than 5 characters, but it will not prevent the form to save the item
                </li>
            </ul>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - simple_form_validation_group.html - START -->
            <vaadin-button on-click="formValidationGroupController::clearFormItem">Clear form</vaadin-button>

            <uibuilder-form id="form" legend="Address form" on-save="formValidationGroupController::save">
                <vaadin-text-field label="Country" item-bind="country"></vaadin-text-field>
                <vaadin-text-field label="City" item-bind="city"></vaadin-text-field>
                <vaadin-text-field label="ZIP" item-bind="zip"></vaadin-text-field>
                <vaadin-text-field label="Street" item-bind="street"></vaadin-text-field>
                <hr/>
                <vaadin-horizontal-layout>
                    <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
                    <vaadin-button id="saveButton" form-control="save">Save</vaadin-button>
                </vaadin-horizontal-layout>
            </uibuilder-form>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_form_validation_group.html</vaadin-tab>
            <vaadin-tab>Address.java</vaadin-tab>
            <vaadin-tab>AddressWarningGroup.java</vaadin-tab>
            <vaadin-tab>FormValidationGroupControllerBean</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_form_validation_group.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/Address.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/AddressWarningGroup.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FormValidationGroupControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_form_validation_group.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
