<!-- CODE BLOCK DEFINITION - simple_form_list_box.html - START -->
<uibuilder-page on-after-load="formComponentAsSelectionControllerBean::initializeForm"
                on-before-load="formComponentAsSelectionControllerBean::initializeData">
    <!-- CODE BLOCK DEFINITION END -->
    <style>
        .buttons_right {
            display: flex;
            justify-content: flex-end;
        }

        .buttons_right > * {
            margin-left: 10px;
        }

        .uibuilder_label {
            margin-top: 10px;
            color: rgba(27, 43, 65, 0.7);
            font-size: 12px;
            font-weight: 500;
            height: 18px;
            margin-left: 1px;
            padding-bottom: 4px;
            white-space: nowrap;
        }
    </style>
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Form with uibuilder-listbox</h2>
        <div class="description">
            In this example, the form has a field of type listbox. The listbox is bound to the form item's <code>reminders</code> property with the
            <code>item-bind</code> attribute containing the <code>selected:</code> prefix. This means that the listbox is being used as an item selector.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_form_list_box.html - START -->

            <uibuilder-form id="form" legend="Todo item" on-save="formComponentAsSelectionControllerBean::save">

                <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>

                <hr/>
                <div class="uibuilder_label">Select reminders</div>

                <uibuilder-listbox selection-mode="multi" item-bind="selected:reminders">
                    <item-data-source name="gridAsSelectionRemindersDS"
                                      items="{{formComponentAsSelectionControllerBean.reminderItems}}"></item-data-source>
                    <template>
                        {{item.text}} - {{item.priority}}
                    </template>
                </uibuilder-listbox>

                <hr/>
                <div class="buttons_right">
                    <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
                    <vaadin-button id="saveButton" form-control="save">Save</vaadin-button>
                </div>
            </uibuilder-form>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_form_grid_as_selection.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>FormComponentAsSelectionControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_form_list_box.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FormComponentAsSelectionControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_form_list_box.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
