<!-- CODE BLOCK DEFINITION - datasource_repo_multiple_binding_context.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Using same datasource repository with individual instances by component</h2>
        <div class="description">
            The <code>datasource-id</code> attribute of the <code>data-source</code> tag must be the same in the filter and
            the other component to use the same datasource instance.<br/>
            The defined datasource id must be unique in the whole project.
        </div>
        <b></b>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - datasource_repo_multiple_binding_context.html - START -->
            ComboBox with datasource: <b>todoDS</b>
            <uibuilder-combobox id="someCb" item-label-path="todo">
                <data-source name="todoDS"></data-source>
                <template>{{item.todo}}</template>
            </uibuilder-combobox>

            <hr/>

            Grid with datasource: <b>todoDS</b>
            <vaadin-uibuilder-grid id="someGrid">
                <data-source name="todoDS"></data-source>
                <vaadin-grid-column>
                    <template class="header">Task</template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">Deadline</template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>datasource_repo_multiple_binding_context.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/datasource_repo_multiple_binding_context.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - datasource_repo_multiple_binding_context.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
