<!-- CODE BLOCK DEFINITION - db_grid_with_default_query.html - START -->
<uibuilder-page id="uibuilder-grid-collection-simple">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder-Grid with Default Query</h2>
        <div class="description">
            In this case the <code>default-query</code> for the data source is provided by the <code>findTodoByPrefix</code> method, declared in the <code>TodoItemCustomQuery</code>
            interface. This interface is implemented by the <code>TodoItemCustomQueryImpl</code> class, and extended by the <code>CustomTodoItemRepository</code>
            interface, where the data source is declared with the <code>@TargetDataSource</code> annotation.
            (This is the recommended solution for adding custom methods to spring-data repositories, as shown in the spring-data documentation:
            <a href="https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#repositories.single-repository-behavior">https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#repositories.single-repository-behavior</a>)
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - db_grid_with_default_query.html - START -->
            <vaadin-uibuilder-grid id="collection-based-grid">
                <data-source name="customTodoDS" default-query="findTodoByPrefix"></data-source>
                <vaadin-grid-column>
                    <template class="header">
                        Task
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>db_grid_with_default_query.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>CustomTodoItemRepository.java</vaadin-tab>
            <vaadin-tab>TodoItemCustomQuery.java</vaadin-tab>
            <vaadin-tab>TodoItemCustomQueryImpl.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/db_grid_with_default_query.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CustomTodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemCustomQuery.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemCustomQueryImpl.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - db_grid_with_default_query.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
