<!-- CODE BLOCK DEFINITION - filtered_db_grid.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder-Grid with Filters</h2>
        <div class="description">
            The <code>datasource-id</code> attribute of the <code>data-source</code> tag must be the same in the filter and
            the other component to use the same datasource instance.<br/>
            The defined datasource id must be unique in the whole project.<br/>
            In this example the two datasource definitions are marked with the same ID (<b>todoDS-instance-id-1</b>) with the
            <code>datasource-id</code> attribute to make the component use the exact same datasource instance.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - filtered_db_grid.html - START -->
            <uibuilder-common-filter auto-search>
                <data-source datasource-id="todoDS-instance-id-1" name="todoDS"></data-source>
                <filter-types>
                    <filter-type label="Text" filter="todo" operators='["like", "ilike", "not like", "not ilike", "=", "in"]'></filter-type>
                    <filter-type label="Deadline" filter="deadline"></filter-type>
                </filter-types>
                <default-filters>
                    <default-filter filter="deadline" operator="is not null" added></default-filter>
                </default-filters>
            </uibuilder-common-filter>

            <vaadin-uibuilder-grid>
                <data-source datasource-id="todoDS-instance-id-1" name="todoDS"></data-source>
                <vaadin-grid-column>
                    <template class="header">
                        Task
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>filtered_db_grid.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/filtered_db_grid.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - filtered_db_grid.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
