<!-- CODE BLOCK DEFINITION - ordered_grid_with_default_order.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder-Grid with Spring-Data Repository and default direction</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - ordered_grid_with_default_order.html - START -->
            <vaadin-uibuilder-grid>
                <data-source name="todoDS"></data-source>
                <vaadin-grid-column>
                    <template class="header">
                        <vaadin-grid-sorter path="todo" direction="DESC">Task</vaadin-grid-sorter>
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>ordered_grid_with_default_order.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/ordered_grid_with_default_order.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - ordered_grid_with_default_order.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
