<!-- CODE BLOCK DEFINITION - simple_client_listbox.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Listbox without datasource</h2>
        <div class="description">
            Using the listbox without a datasource is the same as you use the vaadin-list-box component.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_client_listbox.html - START -->

            <div>Selected index: [[selection]]</div>

            <hr/>

            <uibuilder-listbox selected="{{selection}}">
                <vaadin-item>Item 1</vaadin-item>
                <vaadin-item>Item 2</vaadin-item>
                <vaadin-item>Item 3</vaadin-item>
                <vaadin-item>Item 4</vaadin-item>
            </uibuilder-listbox>

            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_client_listbox.html</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_client_listbox.html"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_client_listbox.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
