<!-- CODE BLOCK DEFINITION - page_scope.html - START -->
<uibuilder-page contextId="page-scope-example">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <div class="content">
        <h2 part="header">Page Scope Example</h2>
        <div class="description" style="max-width: 1000px">
            <ul>
                <li>
                    The <span class="code">contextId</span> attribute of the <span class="code">uibuilder-page</span> make it
                    able to bind a controller bean to a page.
                </li>
                <li>
                    Reload page button should reload the page and invalidate the <span class="code">@PageScoped("page-scope-example")</span>
                    annotated controller bean.
                </li>
                <li>
                    The reload should work the same as if the browser would do.
                </li>
            </ul>
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - page_scope.html - START -->
            <vaadin-vertical-layout id="contentDiv"></vaadin-vertical-layout>
            <vaadin-vertical-layout>
                <vaadin-text-field id="someTextField" label="Some field with bound value" value="{{pageScopeControllerBean.someValue}}"></vaadin-text-field>
                <vaadin-button on-click="pageScopeControllerBean::reload">Reload page</vaadin-button>
                <vaadin-button on-click="pageScopeControllerBean::addLabel">Add some Label to the Page</vaadin-button>
            </vaadin-vertical-layout>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>page_scope.html</vaadin-tab>
            <vaadin-tab>PageScopeControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/page_scope.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/PageScopeControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - page_scope.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
