<!-- CODE BLOCK DEFINITION - custom_value_cb_mdc.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-master {
            width: 40%;
            margin-right: 8px;
        }

        .mdc-detail {
            width: 60%;
        }
    </style>

    <div class="content">
        <h2 part="header">MDC with custom value combobox</h2>
        <div class="description">
            <ul>
                <li>
                    If the <code>allow-custom-value</code> attribute is present in the <code>uibuilder-combobox</code>,
                    it will allow the user to type a custom value.
                </li>
                <li>
                    If the combobox is bound to a datasource and an item represents a backend bean or an entity,
                    the <code>custom-value-function</code> attribute can be defined, referencing a backend method
                    which would create the proper bean or entity according to the given custom value.
                </li>
                <li>
                    If the combobox is a detail field in a master-detail-controller setup, and the items of the combobox
                    provided by a datasource has to be updated after a new item has been saved, it is needed to
                    trigger a refresh manually by writing a small javascript, or by doing the same on the backend
                    when receiving the save event.
                </li>
            </ul>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - custom_value_cb_mdc.html - START -->
            <vaadin-horizontal-layout>
                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="todoDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <vaadin-vertical-layout class="mdc-detail">
                    <detail-panel id="detail" style="width: 100%">
                        <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                        <uibuilder-combobox label="Label" item-label-path="name" item-bind="selected:label"
                                            allow-custom-value custom-value-function="{{mdcCustomValueComboBox::createLabel}}"
                                            helper-text="Type a new name to create a new label">
                            <data-source name="labelDS"></data-source>
                            <template>
                                {{item.name}}
                            </template>
                        </uibuilder-combobox>
                    </detail-panel>
                </vaadin-vertical-layout>
            </vaadin-horizontal-layout>

            <master-detail-controller
                id="mdc" master="grid" detail="detail"
                on-save="mdcCustomValueComboBox::onSave"
                item-supplier="{{mdcCustomValueComboBox::create}}">
            </master-detail-controller>

            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>custom_value_cb_mdc.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>Label.java</vaadin-tab>
            <vaadin-tab>LabelRepository.java</vaadin-tab>
            <vaadin-tab>MdcCustomValueComboBoxControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/custom_value_cb_mdc.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/Label.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/LabelRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcCustomValueComboBoxControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>

    <!-- CODE BLOCK DEFINITION - custom_value_cb_mdc.html - START -->
    <script>
        (() => {
            const labelCombobox = document.querySelector("#detail > uibuilder-combobox");
            document.querySelector("#mdc").addEventListener("save", () => labelCombobox._refresh());
        })();
    </script>
    <!-- CODE BLOCK DEFINITION END -->

<!-- CODE BLOCK DEFINITION - custom_value_cb_mdc.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
