<!-- CODE BLOCK DEFINITION - item_ds_mdc.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <!-- CODE BLOCK DEFINITION - item_ds_mdc.html - START -->
    <style>
        .mdc-container {
            display: flex;
            gap: 8px;
        }
        .detail-content {
            display: flex;
            flex-direction: column;
            width: calc(100vw / 3);
        }
    </style>
    <!-- CODE BLOCK DEFINITION END -->

    <div class="content">
        <h2 part="header">UIBuilder MDC with item-data-source and crud-toolbar</h2>
        <div class="description">
            This example shows how to use a simple <code>item-data-source</code> with the help of the generic <code>crud</code> controller bean to
            avoid the boilerplate to save the item to the list, remove, refresh the master grid, etc.
        </div>

        <div class="component">
            <!-- CODE BLOCK DEFINITION - item_ds_mdc.html - START -->
            <crud-toolbar master-detail-controller="mdc" icons-only all-theme="small icon"></crud-toolbar>

            <div class="mdc-container">

                <vaadin-uibuilder-grid id="grid">
                    <item-data-source name="simpleItemDS" items="{{itemDsMdc.simpleItems}}"></item-data-source>
                    <vaadin-grid-column>
                        <template class="header">Name</template>
                        <template>{{item.name}}</template>
                    </vaadin-grid-column>
                    <vaadin-grid-column>
                        <template class="header">Age</template>
                        <template>{{item.age}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail">
                    <div class="detail-content">
                        <vaadin-text-field label="Name" item-bind="name"></vaadin-text-field>
                        <vaadin-text-field label="Age" item-bind="age"></vaadin-text-field>
                    </div>
                </detail-panel>

            </div>

            <master-detail-controller id="mdc" master="grid" detail="detail"
                                      on-save="builtInGenericItemCrudPanelControllerBean::onSave"
                                      on-delete="builtInGenericItemCrudPanelControllerBean::onDelete"
                                      on-refresh="builtInGenericItemCrudPanelControllerBean::onRefresh"
                                      item-supplier="{{itemDsMdc.create}}">
            </master-detail-controller>
            <!-- CODE BLOCK DEFINITION END -->
        </div>

        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>item_ds_mdc.html</vaadin-tab>
            <vaadin-tab>MdcItemDatasourceControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/item_ds_mdc.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcItemDatasourceControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - item_ds_mdc.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
