<!-- CODE BLOCK DEFINITION - simple_crud_mdc_with_customized_crud_toolbar.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-container {
            width: 100%;
        }

        .mdc-master {
            float: left;
            width: 40%;
            margin-right: 8px;
        }

        .mdc-detail {
            float: left;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Master-detail-controller with customized CrudToolbar</h2>
        <div class="description">
            The <b>MDC</b> uses the <code>vaadin-uibuilder-grid</code> as the <b>master</b> component (<i>this provides the list of the available
            items</i>).<br/>
            The <b>MDC</b> uses the <code>detail-panel</code> as the <b>detail</b> component (<i>this is a uibuilder-form with additional functionality, like
            default form control buttons, etc.</i>).<br/>
            The <b>MDC</b> could define the <b>event handlers</b> bound to controller beans and provider <code>item-supplier</code> controller bean binding to
            be able to create new items on demand.<br/>
            The <code>crud-toolbar</code> in this example has hidden default buttons and redefined ones in named slots (in this case: <b>icons only</b>).
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - simple_crud_mdc_with_customized_crud_toolbar.html - START -->
            <crud-toolbar master-detail-controller="mdc" hide-all-default-buttons>
                <vaadin-button slot="refresh" theme="tertiary-inline small icon">
                    <vaadin-icon icon="vaadin:refresh"></vaadin-icon>
                </vaadin-button>
                <vaadin-button slot="create" theme="tertiary-inline small icon">
                    <vaadin-icon icon="vaadin:folder-add"></vaadin-icon>
                </vaadin-button>
                <vaadin-button slot="edit" theme="tertiary-inline small icon">
                    <vaadin-icon icon="vaadin:edit"></vaadin-icon>
                </vaadin-button>
                <vaadin-button slot="delete" theme="tertiary-inline small icon">
                    <vaadin-icon icon="vaadin:file-remove"></vaadin-icon>
                </vaadin-button>
            </crud-toolbar>
            <!-- CODE BLOCK DEFINITION END -->

            <div class="mdc-container">
                <!-- CODE BLOCK DEFINITION - simple_crud_mdc_with_customized_crud_toolbar.html - START -->
                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="todoDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail" class="mdc-detail">
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>
                    <vaadin-text-field label="Extra text" item-bind="extraAttribute.extraText"></vaadin-text-field>
                    <vaadin-text-field label="Extra number" item-bind="extraAttribute.extraNumber"></vaadin-text-field>
                </detail-panel>
                <!-- CODE BLOCK DEFINITION END -->

                <div style="clear: both"></div>
            </div>

            <!-- CODE BLOCK DEFINITION - simple_crud_mdc_with_customized_crud_toolbar.html - START -->
            <master-detail-controller
                id="mdc" master="grid" detail="detail"
                on-save="mdcSimpleCrudBean::onSave"
                on-delete="mdcSimpleCrudBean::onDelete"
                on-refresh="mdcSimpleCrudBean::onRefresh"
                item-supplier="{{mdcSimpleCrudBean::create}}">
            </master-detail-controller>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_crud_mdc_with_customized_crud_toolbar.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcSimpleCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_crud_mdc_with_customized_crud_toolbar.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcSimpleCrudControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_crud_mdc_with_customized_crud_toolbar.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
