<!-- CODE BLOCK DEFINITION - simple_mdc.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-container {
            width: 100%;
        }

        .mdc-master {
            float: left;
            width: 40%;
            margin-right: 8px;
        }

        .mdc-detail {
            float: left;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Master-detail-controller (CRUD)</h2>
        <div class="description">
            The <b>MDC</b> (<i>master-detail-controller</i>) is a meta component which has no presentation layer.<br/>The MDC is
            responsible to connect a <i>master-detail</i> component pair in a two way relation. This means that the event on the master component
            will affect the state of the detail, and vice versa.<br/><br/>
            The <b>MDC</b> uses the <code>vaadin-uibuilder-grid</code> as the <b>master</b> component (<i>this provides the list of the available
            items</i>).<br/>
            The <b>MDC</b> uses the <code>detail-panel</code> as the <b>detail</b> component (<i>this is a uibuilder-form with additional functionality, like
            default form control buttons, etc.</i>).<br/>
        </div>
        <div class="component">

            <div class="mdc-container">
                <!-- CODE BLOCK DEFINITION - simple_mdc.html - START -->
                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="todoDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail" class="mdc-detail">
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>
                </detail-panel>
                <!-- CODE BLOCK DEFINITION END -->

                <div style="clear: both"></div>
            </div>

            <!-- CODE BLOCK DEFINITION - simple_mdc.html - START -->
            <master-detail-controller id="mdc" master="grid" detail="detail"></master-detail-controller>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_mdc.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_mdc.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_mdc.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
