<!-- CODE BLOCK DEFINITION - simple_cb_mdc.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Master-detail-controller (CRUD)</h2>
        <div class="description">
            The <b>MDC</b> uses the <code>uibuilder-combobox</code> as the <b>master</b> component (<i>this provides the list of the available items</i>).<br/>
            The <b>MDC</b> uses the <code>detail-panel</code> as the <b>detail</b> component (<i>this is a uibuilder-form with additional functionality, like
            default form control buttons, etc.</i>).<br/>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - simple_cb_mdc.html - START -->
            <uibuilder-combobox id="cb" item-label-path="todo">
                <data-source name="todoDS"></data-source>
                <template>{{item.todo}} by {{item.deadline}}</template>
            </uibuilder-combobox>

            <detail-panel id="detail" class="mdc-detail">
                <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>
                <vaadin-text-field label="Extra text" item-bind="extraAttribute.extraText"></vaadin-text-field>
            </detail-panel>

            <master-detail-controller id="mdc" master="cb" detail="detail"></master-detail-controller>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_cb_mdc.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_cb_mdc.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_cb_mdc.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
