<!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder_multi_detail.html - START -->
<uibuilder-page xmlns="http://www.w3.org/1999/html">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-container {
            width: 100%;
        }

        .mdc-master {
            float: left;
            width: 40%;
            margin-right: 8px;
        }

        .mdc-detail {
            float: left;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder MDC with multi detail panel</h2>
        <div class="description">
            In this example, the MDC has multiple detail panels. Each detail panel receives the same object after a selection on the master component
            has been made. The multiple detail components IDs has to be specified in the same attribute <code>detail</code>, but all of the IDs has to
            be separated with a comma. For example: <code>&lt;master-detail-controller detail="detail-1, detail-2, detail-3" ...</code>. The form
            controls of the detail components are working individually by default. To make the details form controls synchronize, use the
            <code>sync-details-form-controls</code> attribute on the <code>&lt;master-detail-controller&gt;</code> component.<br/><br/>
            Using <code>crud-panel</code>, there is no need to specify the ID's for the detail components, they will get an ID automatically with
            a number suffix depending on how many detail components are present.
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder_multi_detail.html - START -->
            <crud-toolbar master-detail-controller="mdc" delete-hidden icons-only all-theme="small icon"></crud-toolbar>
            <!-- CODE BLOCK DEFINITION END -->

            <div class="mdc-container">
                <!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder_multi_detail.html - START -->
                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="remItemDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Reminder text</template>
                        <template>{{item.text}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail1" class="mdc-detail">
                    <vaadin-text-field label="Reminder text" item-bind="text"></vaadin-text-field>
                    <vaadin-text-field label="Priority" item-bind="priority"></vaadin-text-field>
                </detail-panel>

                <!-- CODE BLOCK DEFINITION END -->
                <div style="clear: both"></div>
                <!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder_multi_detail.html - START -->

                <detail-panel id="detail2" class="mdc-detail">
                    <vaadin-date-picker label="Alert on" item-bind="alertOnDay"></vaadin-date-picker>
                    <uibuilder-combobox id="activeTodoCb" item-label-path="todo" item-bind="selected:todoItem">
                        <data-source name="todoDS"></data-source>
                        <template>{{item.todo}}</template>
                    </uibuilder-combobox>

                </detail-panel>
                <!-- CODE BLOCK DEFINITION END -->

                <div style="clear: both"></div>
            </div>

            <!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder_multi_detail.html - START -->
            <master-detail-controller
                id="mdc"
                master="grid"
                detail="detail1,detail2"
                sync-details-form-controls
                on-save="mdcReminderCrudBean::onSave"
                on-refresh="mdcReminderCrudBean::onRefresh"
                item-supplier="{{mdcReminderCrudBean::create}}">
            </master-detail-controller>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_crud_mdc_reminder_multi_detail.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ReminderItem.java</vaadin-tab>
            <vaadin-tab>ReminderItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcReminderCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_crud_mdc_reminder_multi_detail.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcReminderCrudControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder_multi_detail.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
