<div id="testContainer">
    <uibuilder-combobox id="testElement" item-label-path="deadline">
        <data-source name="todoDS"></data-source>
        <template>
            {{item.todo}}
        </template>
    </uibuilder-combobox>
    <div id="cover">
        <data-source id="testDs" datasource-id="shared-todoDS-1" name="todoDS"></data-source>
    </div>
</div>
