<uibuilder-page id="page"
                on-before-load="testBean::beforeLoad"
                on-after-load="testBean::afterLoad"
                on-unload="testBean::unload">
    <div>content</div>
</uibuilder-page>
