<uibuilder-page id="page">
    <vaadin-textfield id="textfield" value="tr('Translate me')"></vaadin-textfield>
    <div id="div">tr("Translate me too")</div>
    <div id="wrongTr">tr("don't translate me')</div>
</uibuilder-page>
