<vaadin-checkbox id="cb1">
</vaadin-checkbox>

<vaadin-checkbox id="cb2" checked>
</vaadin-checkbox>

<vaadin-checkbox id="cb3" checked="true">
</vaadin-checkbox>

<not-vaadin-checkbox id="not-cb" checked>
</not-vaadin-checkbox>
